a {
    color: #0079C0;
    text-decoration: none;
}
#header {
	height: 50px;
	max-width: 750px;
	background: #1b417d;
}
#logo {
	background: url("../images/logo.png") no-repeat;
	height: 95px;
	left: 10px;
	position: absolute;
	text-indent: 0;
	top: 11px;
	width: 495px;
}
/*Social Icons*/
#facebookIcon, #twitterIcon, #linkedinIcon, #instagramIcon, #youtubeIcon, #lifeIcon, #facebookIcon a, #twitterIcon a, #linkedinIcon a, #instagramIcon a, #youtubeIcon a, #lifeIcon a, #lifeIconMobileText, #lifeIconText {
	display: none;
}
/*Navigation*/
#breadcrumb {
	display: none;
}
/*Body*/
#chapterToolkitTable {
	display: none
}
/*Remove Icon Tray*/
#topicToolkitTable ul li {
	display: none;
}
/*Footer*/
#leftColumn, #rightColumn {
	display: none;
}
/*Footer Navigation -  invisible*/

/*Specific Print Instruction for Chapter page*/

.chapterTopicsLinksLeftBox {
	width: 100%;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	float: left;
	background-color: #FFF;
	border: 1px solid #CCC;
	min-height: 130px;
	margin-bottom: 11px;
	margin-right: 11px;
	padding: 0 20px 20px;
}
.chapterTopicsLinksRightBox {
	width: 100%;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	float: right;
	background-color: #FFF;
	border: 1px solid #CCC;
	min-height: 130px;
	margin-bottom: 11px;
	padding: 0 20px 20px;
}
.chapterTopicsLinksImage {
	float: right;
	margin-top: 14px;
}
.chapterTopicsLinksLeftBox .boxContent, .chapterTopicsLinksRightBox .boxContent {
	float: left;
	width: 85%;
}
.chapterColumn #chapterTopicsHeaderBox {
	color: #0079C0;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 20px;
}
#chapterIntroBox p a#topicIntroduction-show.showLink {
	display: block;
}
/*Reduce width of Topic box to display these inline */


/*Specific print instructions for Topic Page */
.topicColumn #topicsBox p img {
	display: none;
}
.topicColumn #topicsHeaderBox {
    color: #0079C0;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 20px;
}
#topicIntroBox h2 {
	color: #0079C0;
    float: left;
    font-family: Arial,Verdana,Helvetica,Sans-Serif;
    font-size: 120%;
    font-weight: bold;
    width: 100%;
}
#stateAndTrend.more, #topicResponse.more, #topicCondition.more, #topicOverview.more, #topicContent.more {
	display: block;
}
/*Show all 'Read more' content in State & Trends, Overview, Conditon, Response and Content sections */

.showLink, .hideLink {
	display: none;
}
/*Hide 'Show More'& 'Hide this content' link*/

.topicSubMenu {
	display: none;
}
 /*Hide third level navigation on Topic page*/
