/* Sticky footer styles
-------------------------------------------------- */

footer a {
	color: #090909;
	text-decoration: none;
}
footer a:hover {
	color: #090909;
	text-decoration: underline;
}
/* not required for sticky footer; just pushes hero down a bit */
.wrapper > .container {
	padding-top: 60px;
	margin-top: 10px;
} 
.container {
	max-width: 1170px;
}
footer div.container p {
	margin-top: 0px;
}
/* end responsive footer fix */

@media (min-width: 768px) {
.wrapper {
	background-color: #E8ECF5;
}
}

@media only screen and (max-width: 650px) {
.wrapper {
	background-color: #E8ECF5;
}
footer {
	background: none repeat scroll 0 0 #89C742;
    border-top: 0 solid #FFFFFF;
    color: #FFFFFF;
    height: 100px;
    margin: 0;
    min-height: 100px;
    padding: 0;
    position: relative;
}
footer .container #leftColumn {
	font-weight: 600;
    left: 8px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    top: 13px;
    width: 95%;
    word-spacing: 2px;
}
html body footer div.container div#leftColumn p a {
	padding-right: 5px;
    text-align: left;
}
footer .container #rightColumn {
	left: 8px;
    position: absolute;
    top: 36px;
}
#mc_embed_signup {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	font: 12px Helvetica, Arial, sans-serif;
	position: absolute;
	left: 0;
	top: 10px;
	width: 300px;
	color: #090909;
}
#mc_embed_signup form#mc-embedded-subscribe-form.validate input#mce-EMAIL.email {
	left: 165px;
    position: absolute;
    top: -2px;
}
#mc_embed_signup form#mc-embedded-subscribe-form.validate div.clear input#mc-embedded-subscribe.button {
	background: #003C7F;
	border: medium none;
    color: #FFFFFF;
    left: 292px;
    padding: 3px;
    position: absolute;
    top: -1px;
}
#ScotGovLogo {
	left: 380px;
    position: absolute;
    top: 9px;
    width: 115px;
}
}
@media only screen and (max-width: 520px) {
footer {
	background: none repeat scroll 0 0 #89C742;
    border-top: 0 solid #FFFFFF;
    color: #FFFFFF;
    height: 125px;
    margin: 0;
    min-height: 100px;
    padding: 0;
    position: relative;
}
footer .container #leftColumn {
	font-weight: 600;
    left: 8px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    top: 13px;
    width: 95%;
    word-spacing: 2px;
}
html body footer div.container div#leftColumn p a {
	padding-right: 5px;
    text-align: left;
}
footer .container #rightColumn {
	left: 8px;
    position: absolute;
    top: 57px;
}
#mc_embed_signup {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	font: 12px Helvetica, Arial, sans-serif;
	position: absolute;
	left: 0;
	top: 10px;
	width: 300px;
	color: #090909;
}
#mc_embed_signup form#mc-embedded-subscribe-form.validate input#mce-EMAIL.email {
	left: 165px;
    position: absolute;
    top: -2px;
}
#mc_embed_signup form#mc-embedded-subscribe-form.validate div.clear input#mc-embedded-subscribe.button {
	background: #003C7F;
	border: medium none;
    color: #FFFFFF;
    left: 225px;
    padding: 3px;
    position: absolute;
    top: 22px;
}
#ScotGovLogo {
	left: 310px;
    position: absolute;
    top: 9px;
    width: 115px;
}
}
@media only screen and (max-width: 370px) {
footer {
	background: none repeat scroll 0 0 #89C742;
    border-top: 0 solid #FFFFFF;
    color: #FFFFFF;
    height: 145px;
    margin: 0;
    min-height: 100px;
    padding: 0;
    position: relative;
}
footer .container #leftColumn {
	font-weight: 600;
    left: 8px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    top: 13px;
    width: 95%;
    word-spacing: 2px;
}
html body footer div.container div#leftColumn p a {
	padding-right: 5px;
    text-align: left;
}
footer .container #rightColumn {
	left: 8px;
    position: absolute;
    top: 50px;
}
#mc_embed_signup {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	font: 12px Helvetica, Arial, sans-serif;
	position: absolute;
	left: 0;
	top: 10px;
	width: 300px;
	color: #090909;
}
#mc_embed_signup form#mc-embedded-subscribe-form.validate input#mce-EMAIL.email {
	left: 0;
    position: absolute;
    top: 20px;
}
#mc_embed_signup form#mc-embedded-subscribe-form.validate div.clear input#mc-embedded-subscribe.button {
	background: #003C7F;
	border: medium none;
    color: #FFFFFF;
    left: 60px;
    padding: 3px;
    position: absolute;
    top: 45px;
}
#ScotGovLogo {
	left: 180px;
    position: absolute;
    top: 11px;
    width: 115px;
}
}
