#chartPanel .google-visualization-orgchart-node {
  border: none;
}

.ajaxloading {
    display:    block;
    visibility: hidden;
    min-height: 40px;
    width:      100%;
    background: url('./ajax-loader.gif') 
                50% 30% 
                no-repeat;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .ajaxloading {
    visibility: visible;
}

.variableDataView .noData {
  display: none;
}

.noMore .moreAction {
  display: none;
}

.mediumLeftColumnBox {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 15px;
    margin-bottom: 11px;
    margin-right: 0;
    min-height: 155px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.smallRightColumnBox {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 15px;
    margin-bottom: 11px;
    margin-right: 0;
    min-height: 155px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.tt-dropdown-menu {
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-dataset-projects .tt-suggestion {
    color: black;
    background-color: white;
    text-transform: capitalize;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 18px;
}

.tt-dataset-projects .tt-highlight {
    background-color: yellow;
}

.tt-dataset-projects .tt-cursor {
    background-color: grey;

}

.tt-suggestion p {
    margin: 0;
}
